table {
   border-collapse: collapse;
   width: 100%;
   background-color: white;
 }
 
 th, td {
   text-align: left;
   border: 1px solid black;
   padding: 10px;
 }
 
 tr:nth-child(odd){
   background-color: #FFC8C8;
 }
 
 th {
   background-color: #D14D72;
   color: white;
 }